/*Generalistas*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
ul {
    list-style-type: none;
    width: fit-content;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
}

/*Cabeçalho do site*/
header {
    width: 100%;
    height: 233px;
    background: #274972 url(../img/fundo.png) repeat-x;
    position: relative;
}
header div {
    width: 922px;
    margin: auto;
}
#logo {
    padding: 1em 0;
    margin-left: 106px;
}
#simbolicbrazil {
    float: right;
}

/*Barra de navegação do cabeçalho*/
header nav {
    width: max-content;
    font-size: 1.1em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4.3em;
    margin: 0 auto;
}
header nav ul li {
    display: inline;
    background-color: #ba000d;
    padding: 0.7em 0;
}
header nav ul li+li{
    background-image: url(../img/divisor.png);
    background-position: left;
    background-repeat: no-repeat;
}
header nav ul li a {
    color: #fff;
    padding: 0.7em 0.7em;
}
#now {
    background-color: #f44336;
}


/*Barra de navegação do cabeçalho: interação*/
header nav ul li:hover {
    padding: 0.8em 0;
    background-color: #ff7961;
}
header nav ul li a:hover {
    padding: 0.8em 0.7em;
}